.tbl2>div {
    display: flex;
    width: max-content;
}

.tbl2>div>div {
    min-width: 220px;
}

.tbl2>div>div:first-child {
    min-width: 150px;
    text-align: right;
    padding-right: 30px;
    margin-right: 40px;
}


.tbl2 .top {
    border-bottom: solid 1px var(--color-border);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.tbl2 .row.mid>div {
    padding: 40px 30px 40px 0;
}

.tbl2 .row>div:first-child {
    border-right: solid 1px var(--color-border);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tbl2 .big {
    font-size: 24px;
}