main .frame1 {
    display: flex;
    gap: 20px;
}

main .frame1>div .border {
    width: 200px;
}

main .frame1>div .border {
    border: solid 1px var(--color-text);
    border-radius: 2px;
    font-size: 24px;
    padding: 10px 20px 15px 20px;
}

main .frame1>div .note {
    padding: 10px 20px 15px 18px;
    font-size: 0.9em;
    line-height: 1.1em;
}