@import './css.base.css';

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

p {
  margin: 0 0 0.5em 0;
}

a,
.green {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.2s;
}

.time {
  color: var(--color-time);
}

.select {
  color: var(--color-select);
}

.bold {
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-link-hover);
  }
}

