@import './css.base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.2s;
}

@media (hover: hover) {
  a:hover {
    color: rgb(1, 165, 110);
  }
}

